body, html {
	height: 100%;
	width: 100%;
	overflow-y:hidden;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	/*padding-bottom: 50px;*/
	color: #f8f8f8;
	background: url(../img/seattle_1.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	background-position: 0px 0px;
}

.h1{
	font-size: 50px;
}

.h1 .fa-plus-circle,
.h1:hover .fa-plus {
    display: none;
}
.h1:hover .fa-plus-circle {
    display: inline;
}


/*.about-me-plus:hover{
	font-size: 50x;
}*/

.wrapper {
    /*opacity: 0.8;*/
   	filter: grayscale(0.5);
	-webkit-filter: grayscale(0.5);
	-moz-filter: grayscale(0.5);
	-o-filter: grayscale(0.5);
	-ms-filter: grayscale(0.5);
    filter: alpha(opacity=40); /* msie */
    background-color: #C0C0C0;
}

.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 30%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-message > h2 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		/*padding-bottom: 15%;*/
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	/*padding: 50px 0;*/
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	/*padding: 50px 0;*/
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

/*.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}*/

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

/*footer {
	background-color: #f8f8f8;
	/*padding: 50px 0;*/
/*}*/

p.copyright {
	margin: 15px 0 0;
}
#header .social li a { text-shadow:none; }

/* Social */
.social { text-shadow:none; }
.social li a { color:#fff; border-top: 1px solid rgba(0, 0, 0, .1); width:60px;}

@font-face { font-family: 'JustVectorRegular'; font-weight: normal; font-style: normal;
    src: url('fonts/justvector/justvector-webfont.eot');
    src: url('fonts/justvector/justvector-webfont.eot?#iefix') format('eot'),
         url('fonts/justvector/justvector-webfont.woff') format('woff'),
         url('fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('fonts/justvector/justvector-webfont.svg#webfontmuk63VQd') format('svg');
}
.social { padding:0; list-style:none; }
.social li { display:inline-block; margin-bottom: -3px; }
.social li a { display:block; float:left; line-height:90%; font-family: 'JustVectorRegular'; font-size:3em; padding:.2em .2em .15em .2em; }
.social li a:hover { background-color:#000; }
.social li a.linkedin:hover { background-color:#2089b5; width:60px;}
.social li a.google:hover { background-color:#c63d2d; width:60px;}
.social li a.instagram:hover { background-color:#663A2D; width:60px;}
.social li a.github:hover { background-color: #000; width:60px;}
.social li a.instagram:hover { background-color:#663A2D; width:60px;}
.social li a.facebook:hover { background-color:#3c5fac; width:60px;}
.social li a.twitter:hover { background-color:#5ec3df; width:60px;}




